/* ----------------------------
	Typo
---------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, .box > *, textarea, input {
	font-family: 'Roboto', sans-serif;
	color: #1d1d1d;
	overflow: hidden;
}

/* ----------------------------
	STRUCTURE
---------------------------- */
html {
  box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 20px;
}
